
<!doctype html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/style.css" />
		<script type="text/javascript" data-main="/config.js" src="/lib/require/require.js"></script>
	</head>
	<body ng-app>
		<b>{{3%8}}</b>
		<br />
		<a href="#/">Home</a>
		<a href="#/index">Index</a>
		<a href="#/other">Other</a>
		<a href="#/test">Test</a>
		<ng-view />
	</body>
</html>